## RBDtector intrinsic output
logfile.txt

## Virtual environment
venv/

## VSC
.idea/

## Testing and debugging
*.pyo
*.pyc
.coverage

## Own directory structure
Non-Coding-Content/
TESTS_FILES/
stats_script/output_tables/
trials/


