## RBDtector intrinsic output
logfile.txt

## Virtual environment
venv/

## VSC
.idea/

## Testing and debugging
*.pyo
*.pyc
.coverage

## Own directory structure
Non-Coding-Content/
TESTS_FILES/
stats_script/output_tables/
trials/
Profiling_test/
RBDtector/.ipynb_checkpoints/
RBDtector/RBDtector.egg-info/
RBDtector/Untitled.ipynb
RBDtector/bin/
RBDtector/lib/
RBDtector/lib64
RBDtector/pyvenv.cfg
RBDtector/share/
docs/

/tests/data/Example 2/
/tests/data/Example 1/
